body {
    padding: 0;
    overflow: hidden;
    font-family: Roboto Slab !important;
}

#map {
    position: absolute;
    right: 0px;
    left: 580px;
    height: 100%;
    top: 0;
}

/* legend */
.legend {
  position: absolute;;
  right: 0px;
  top: 0px;
  z-index: 2000;
  margin: 10px;
}

.legend .legend-title {
    text-align: right;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 90%;
    color: #2D3F50;
    }
  .legend .legend-scale ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    }
  .legend .legend-scale ul li {
    display: block;
    float: left;
    width: 50px;
    margin-bottom: 6px;
    text-align: right;
    font-size: 80%;
    list-style: none;
    color: #2D3F50;
    }
  .legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 15px;
    width: 50px;
    }

  .legend a {
    color: #777;
    }

.legend-points {
      position: absolute;;
      right: 0px;
      top: 80px;
      z-index: 2000;
      margin: 10px;
}

.legend-points .legend-title {
    text-align: right;
    font-weight: bold;
    font-size: 90%;
    color: #2D3F50;
    }

  .legend-points .legend-icon{
    margin: 0;
    padding: 0;
    display: block;
    float: right;
    width: 50px;
    margin-bottom: 6px;
    text-align: right;
    }

  .legend-points a {
    color: #777;
    }

.wrapper {
    display: flex;
    align-items: stretch;
    width: 600px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #2D3F50;
    color: #EFF1E6;
    transition: all 0.2s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .sidebar-header h6,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #2D3F50;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #fff;
}

#sidebar ul li a {
    color:#EFF1E6;
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color:#2D3F50;
    background: #EAF46E;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #2D3F50;
    background: #EAF46E;
}

a[data-toggle="collapse"] {
    position: relative;
}

#dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebarCollapse span {
    display: none;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    color: #2D3F50;
    background: #EFF1E6;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.web,
a.web:hover {
    text-align: center !important;
}

a.source,
a.source:hover {
  text-align: center !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width:100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    background-color: #2D3F50;
    overflow-y: scroll;
    color:#EFF1E6;
    border:20px;
}


#main-title {
  font-weight: bold;
  font-size: 18px;
  margin: 5px;
  padding-top: 5px;
}

#intro-content {
  font-size:14px;
}

.hma-labels {
  background-color: transparent;
  border: transparent;
  box-shadow: none;
  color: white;
  }

/* The radio button container */
.radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
